
<div class="container">
<div class="questionnair-result">
<div class="img-content"><img alt="message" src="/mental/web/themes/custom/mental/images/message.jpg" /></div>

<h2>Your online session has been scheduled. The link has been  sent to your email</h2> 
{{ meeting_link }}
</div>
</div>
